# Build outputs
bin/
obj/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio cache/options directory
.vs/


# Temporary build folders
PinLock_Release/

# Release packages
*.zip

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Temporary files
*.tmp
*.temp
*~

# Log files
*.log

# Package files
*.nupkg
*.snupkg

# Backup files
*.bak
*.backup
*~